img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.post {
    background-color: #f5f5f5;
    border: 2px solid #e74c3c;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s;
}

.post:hover {
    background-color: #e74c3c;
    color: #fff;
}

.post h2 {
    color: #e74c3c;
}

.post p {
    color: #555;
}

.post a {
    color: #3498db;
}

.post a:hover {
    text-decoration: underline;
}
